.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    padding: 0 .6rem;
    font-weight: bold;
    color: #fff;
    border: 0;
    background-color: #3858e9;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: border-box;

    &.btn-circle {
        padding: 0;
        width: 2.2rem;
        border-radius: 50%;

        .icon {
            width: 1.2rem;
            height: 1.2rem;
            font-size: 1.2rem;
        }
    }

    &:hover {
        background-color: darken(#3858e9, 6%);
    }
}

.input {
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 2.2rem;
    padding: 0 .6rem;
    color: #444;
    border: 0;
    background-color: #f0f0f0;
    outline: none;
    box-sizing: border-box;
    font-weight: bold;

    &:focus {
        background-color: darken(#f0f0f0, 6%);
    }
}
